@model HalloDoc.DataAccessLayer.DataModels.ViewModels.patientInfo;
@{
    Layout = "_Layout";
}

        <form method="post" asp-controller="Home" asp-action="businessPatientRequest">
        <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
            <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                <div class="col  d-flex justify-content-end ">
                    <a class="btn back-btn mt-1" role="button" asp-controller="Home" asp-action="patientSubmitRequestScreen"> < Back</a>
                 
                </div>
                <div class="col">
                    <h5>Business Information</h5>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                        <input asp-for="BusinessFirstName" type="text" class="form-control business-first-name-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="business-first-name-create-patient-text" for="floatingInput">Your First Name</label>
                            <span asp-validation-for="BusinessFirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                            <input asp-for="BusinessLastName" type="text" class="form-control business-last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="business-last-name-create-patient-text" for="floatingInput">Your Last Name</label>
                            <span asp-validation-for="BusinessLastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 gy-3 ">
                    <div class="form-floating mb-3">
                  
                        <input asp-for="BusinessPhoneNumber" class=" form-control business-contact-create-patient shadow-none" id="phone1" type="tel"  />
                        <label class="business-contact-create-patient-text" for="phone1"> </label>
                          
                    </div>
                </div>
                <div class="col-md-6 gy-3">
                    <div class="form-floating mb-3">
                            <input asp-for="BusinessEmail" type="email" class="form-control business-email-create-patient shadow-none" id="floatingInput" placeholder="name@example.com">
                        <label class="business-email-create-patient-text" for="floatingInput">Your Email address</label>
                            <span asp-validation-for="BusinessEmail" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6  me-auto">
                    <div class="form-floating mb-3">
                            <input asp-for="BusinessPropertyName" type="text" class="form-control business-property-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="business-property-create-patient-text" for="floatingInput">Business/Property Name</label>
                            <span asp-validation-for="BusinessPropertyName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6  me-auto">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control business-case-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="business-case-create-patient-text" for="floatingInput">Case Number (Optional)</label>
                    </div>
                </div>

                <div class="col">
                    <h5>Patient Information</h5>
                </div>
                <div class="col-md-12 gy-3">
                    <div class="form-floating mb-3">
                            <textarea asp-for="Notes" class="form-control symptoms-create-patient shadow-none" placeholder="" id="floatingTextarea"></textarea>
                        <label class="symptoms-create-patient-text" for="floatingTextarea">Enter Brief Details Of Symptoms (Optional)</label>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 me-auto">
                    <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" type="date" class="form-control dob-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="dob-create-patient-text" for="floatingInput">Date Of Birth</label>
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>


                <div class="col">
                    <h5>Patient Contact Information</h5>
                </div>

                <div class="col-md-6 gy-3">
                    <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none" id="floatingInput" placeholder="name@example.com">
                        <label class="email-create-patient-text" for="floatingInput">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 gy-3 ">
                    <div class="form-floating mb-3">
                    
                            <input asp-for="PhoneNumber" class=" form-control contact-create-patient shadow-none" id="phone" type="tel" />
                        <label class="contact-create-patient-text" for="phone"> </label>
                           
                    </div>
                </div>






                <div class="col">
                    <h5>Patient Location</h5>
                </div>

                <div class="col-md-6 gy-3">
                    <div class="form-floating mb-3">
                            <input asp-for="Street" type="text" class="form-control street-create-patient  shadow-none" id="floatingInput" placeholder="">
                        <label class="street-create-patient-text" for="floatingInput">Street</label>
                            <span asp-validation-for="Street" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6 gy-3">
                    <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control city-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="city-create-patient-text" for="floatingInput">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>


                <div class="col-md-6">
                    <div class="form-floating mb-3">
                            <input asp-for="State" type="text" class="form-control state-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="state-create-patient-text" for="floatingInput">State</label>
                            <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-floating mb-3">
                            <input asp-for="ZipCode" type="text" class="form-control zipcode-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                            <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 me-auto">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control room-create-patient shadow-none" id="floatingInput" placeholder="">
                        <label class="room-create-patient-text" for="floatingInput">Room # / Suite (Optional)</label>
                    </div>
                </div>

                    @if (TempData["ShowSuccessAlert"] != null && (bool)TempData["ShowSuccessAlert"])
                    {
                        <div id="alertContainer" class="position-fixed top-0 end-0 p-3" style="z-index: 1000;">
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>Success!</strong> Your request has been submitted successfully.
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        </div>

                        <script>
                            setTimeout(function () {
                                document.getElementById('alertContainer').style.display = 'none';
                            }, 3000); // 3000 milliseconds = 3 seconds
                        </script>
                    }

                <div class="col d-flex justify-content-end mb-2">
                        <button class="btn submit-btn-create-patient me-2" id="showAlertButton">Submit</button>
                    <button class="btn cancel-btn-create-patient ms-1">Cancel</button>
                </div>

                <div class="modal fade" id="confirmation-modal" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content ">
                            <div class="modal-body d-flex flex-column align-items-center justify-content-evenly">
                                <i class="fa-solid fa-circle-exclamation mt-4" style="color: #f8a804; font-size: 50px;"></i>
                                <h5 class="mt-2">Information</h5>
                                <p class="mt-2" style="text-align: center; color: #434946;">When submitting a request, you must provide the correct contact information for the patient or the responsibly party. Failure to provide the correct email and phone number will delay service or be declined.</p>
                                <button class="btn btn-ok mt-4" style="background-color: #01BCE9; color: white;">Ok</button>
                            </div>

                        </div>
                    </div>
                </div>



            </div>
        </div>

        </form>

    <script>
        const phoneInputField1 = document.querySelector("#phone1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>

    <script>
        var myModal = new bootstrap.Modal(document.getElementById('confirmation-modal'), {})
        var btnOk = document.querySelector(".btn-ok");
        btnOk.addEventListener("click", function () {
            myModal.hide();
        });
        myModal.show()
    </script>
