@model HalloDoc.DataAccessLayer.DataModels.ViewModels.ResetPasswordVM;
@{
    Layout = "_Layout";
}


        <form class="mt-3" method="post" asp-action="createPatientAccount" asp-controller="Home">
        <div class="main d-flex justify-content-center align-items-center">
            <div class="row row-cols-1 justify-content-center align-items-center width ">
                <div class="col">
                    <h3 class="signup-msg">Create Account</h3>
                </div>
                <div class="col">
                    <div class="form-floating position-relative mb-3">

                        <input asp-for="Email" type="email" class="form-control email shadow-none " id="floatingInput" placeholder="">
                        <label for="floatingInput" class=" email-text">Email address </label>
                        <i class="fa-regular fa-user position-absolute user-icon" style="color: #828487;"></i>

                    </div>
                </div>
                <div class="col">
                    <div class="form-floating position-relative">
                            <input asp-for="Password" type="password" class="form-control password shadow-none" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword" class=" password-text">Password</label>
                        <i class="fa-regular fa-eye  position-absolute eye-icon" style="color: #828487;"></i>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating position-relative">
                            <input asp-for="CPasswordHash" type="password" class="form-control password1 shadow-none mt-1" id="floatingPassword" placeholder="Password">
                        <label for="floatingPassword" class=" password-text">Confirm Password</label>
                        <i class="fa-regular fa-eye  position-absolute eye-icon1" style="color: #828487;"></i>
                    </div>
                </div>

                    <input type="hidden" name="Token" value=@Model.Token asp-for="Token">
                <div class="col gy-2">
                    <button type="submit" class="btn signup-btn w-100">Create Account</button>
                </div>

            </div>
            
        </div>
        </form>
