@model HalloDoc.DataAccessLayer.DataModels.User

@using Microsoft.AspNetCore.Http;

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <title>Patient Profile Page</title>
</head>

<body>
    <div class="container-fluid min-vh-100 d-flex flex-column justify-content-between create-patient-req-main full-content">
        <header>
            <partial name="dashboard_header"/>
        </header>

        <main>
            <form method="post" asp-controller="Home" asp-action="patientProfile" enctype="multipart/form-data">
            <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
                <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">

                    <div class="col  d-flex justify-content-between ">
                        <h4>User Profile</h4>
                        <a role="button" class="btn back-btn mt-1" asp-controller="Home" asp-action="patientDashboard">< Back</a>
                    </div>
                    <div class="col">
                        <h5>General Information</h5>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                          
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none " id="floatingInput" placeholder=" " disabled>
                            <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                                <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                        </div>
                    </div>

                    <div class="col-md-6 me-auto">
                        <div class="form-floating mb-3">
                                <input  type="date" class="form-control dob-create-patient shadow-none" id="floatingInput" placeholder=""  disabled>
                            <label class="dob-create-patient-text" for="floatingInput">Date Of Birth</label>
                        </div>
                    </div>


                    <div class="col">
                        <h5>Contact Information</h5>
                    </div>
                    <div class="col-md-4 gy-3 dropdown">
                        <div class=" form-floating mb-3 ">
                            <button class="btn btn-md dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Type
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Mobile</a></li>
                                <li><a class="dropdown-item" href="#">Landline</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 gy-3 ">
                        <div class="form-floating mb-3">
                                <input asp-for="Mobile" class=" form-control contact-create-patient shadow-none" id="phone" type="tel" name="phone" disabled />
                            <label class="contact-create-patient-text" for="phone"> </label>
                        </div>
                    </div>
                    <div class="col-md-4 gy-3">
                        <div class="form-floating mb-3">
                                <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none" id="floatingInput" placeholder="name@example.com" disabled>
                            <label class="email-create-patient-text" for="floatingInput">Email address</label>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Location Information</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                                <input type="text" asp-for="Street" class="form-control street-create-patient  shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="street-create-patient-text" for="floatingInput">Street</label>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                                <input asp-for="City" type="text" class="form-control city-create-patient shadow-none" id="floatingInput" placeholder=""  disabled>
                            <label class="city-create-patient-text" for="floatingInput">City</label>
                        </div>
                    </div>


                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                                <input asp-for="State" type="text" class="form-control state-create-patient shadow-none" id="floatingInput" placeholder=""  disabled>
                            <label class="state-create-patient-text" for="floatingInput">State</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                                <input asp-for="ZipCode" type="text" class="form-control zipcode-create-patient shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <a href="" class="map-btn p-2" role="button"><i class="fa-solid fa-location-dot me-1" style="color: #01bce9; font-size: 20px;"></i> Map</a>
                        </div>
                    </div>

                    <div class="col d-flex justify-content-end mb-2">
                        <button type="button" class="btn edit-btn-patient-profile me-2 p-2">Edit</button>
                      
                    </div>
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" role="button" class="btn save-btn-patient-profile me-2 p-2" style="display: none;">Save</button>
                        <a role="button" class="btn cancel-btn-patient-profile me-2 p-2" style="display: none;">Cancel</a>
                        
                    </div>
                </div>
            </div>
            </form>
        </main>
        <footer class="d-flex justify-content-end align-items-baseline create-patient-req-footer ">
            <partial name="dashboard_footer"/>
        </footer>
    </div>
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>

    <script>
       
        const editBtn = document.querySelector(".edit-btn-patient-profile");
        const saveBtn = document.querySelector(".save-btn-patient-profile");
        const cancelBtn = document.querySelector(".cancel-btn-patient-profile");
        const formFields = document.querySelectorAll(".form-control");

        editBtn.addEventListener("click", function () {
            formFields.forEach(field => {
                field.removeAttribute("disabled");
            });
            editBtn.style.display = "none";
            saveBtn.style.display = "inline-block";
            cancelBtn.style.display = "inline-block";
        });

        cancelBtn.addEventListener("click", function () {
            formFields.forEach(field => {
                field.setAttribute("disabled", true);
            });
            editBtn.style.display = "inline-block";
            saveBtn.style.display = "none";
            cancelBtn.style.display = "none";
        });

        // saveBtn.addEventListener("click", function () {

        //     formFields.forEach(field => {
        //         field.setAttribute("disabled", true);
        //     });
        //     editBtn.style.display = "inline-block";
        //     saveBtn.style.display = "none";
        //     cancelBtn.style.display = "none";
        // });
    </script>

</body>

</html>