@{
    Layout = "_Layout";
}

        <div class="main d-flex justify-content-center align-items-center ">
            <div class="row row-cols-1 justify-content-center align-items-center width ">
                <div class="col-md-6 -gx-5  d-flex justify-content-center
                ">
                    <h3 class="heading">I am a...</h3>
                </div>
                <div class="col-md-6 gx-5 d-flex justify-content-end">
                 
                    <a class="btn back-btn mt-1" role="button" asp-controller="Home" asp-action="patientSite"> < Back</a>
                </div>
                <div class="col-md-12 gy-4">
                    <div class="d-grid gap-2">
                        <a class="btn patient-btn w-100" asp-controller="Home" asp-action="createPatientRequest">PATIENT</a>
                        <a class="btn family-btn w-100" asp-controller="Home" asp-action="familyCreateRequest">FAMILY/FRIEND</a>
                        <a class="btn concierge-btn w-100" asp-controller="Home" asp-action="conciergePatientRequest">CONCIERGE</a>
                        <a class="btn bussiness-btn" asp-controller="Home" asp-action="businessPatientRequest">BUSINESS PARTNERS</a>
                    </div>
                </div>

            </div>
        </div>

    <script>
        const patientButton = document.querySelector('.patient-btn');
        const familyButton = document.querySelector('.family-btn');
        const conciergeButton = document.querySelector('.concierge-btn');
        const businessButton = document.querySelector('.bussiness-btn');
        patientButton.addEventListener("click", function () {
            window.location.href = "./create-patient-request.html";
        });
        familyButton.addEventListener("click", function () {
            window.location.href = "./family-create-request.html";

        });
        conciergeButton.addEventListener("click", function () {
            window.location.href = "/concierge-patient-request.html";
        });
        businessButton.addEventListener("click", function () {
            window.location.href = "/business-patient-request.html";
        });
    </script>
