@model HalloDoc.DataAccessLayer.DataModels.ViewModels.requestSomeoneElse;

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

    <title>Create Patient Request</title>
</head>

<body>
    <div class="container-fluid min-vh-100 d-flex flex-column justify-content-between create-patient-req-main full-content">
        <header>
            <partial name="Request_header" />
        </header>
        <main>
            <form method="post" asp-controller="Home" asp-action="requestSomeoneElse" enctype="multipart/form-data">
            <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
                <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                    <div class="col  d-flex justify-content-end ">
                        <a role="button" class="btn back-btn mt-1" asp-controller="Home" asp-action="patientDashboard">< Back</a>
                    </div>
                    <div class="col">
                        <h5>Patient Information</h5>
                    </div>
                    <div class="col-md-12 gy-3">
                        <div class="form-floating mb-3">
                            <textarea asp-for="Symptoms" class="form-control symptoms-create-patient shadow-none" placeholder="" id="floatingTextarea"></textarea>
                            <label class="symptoms-create-patient-text" for="floatingTextarea">Enter Brief Details Of Symptoms (Optional)</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                        </div>
                    </div>

                    <div class="col-md-6 me-auto">
                        <div class="form-floating mb-3">
                            <input asp-for="DateOfBirth" type="date" class="form-control dob-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="dob-create-patient-text" for="floatingInput">Date Of Birth</label>
                        </div>
                    </div>


                    <div class="col">
                        <h5>Patient Contact Information</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none" id="floatingInput" placeholder="name@example.com">
                            <label class="email-create-patient-text" for="floatingInput">Email address</label>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">
                            <!-- <input type="tel" class="form-control contact-create-patient shadow-none" id="floatingContact" placeholder="">
                            <label class="contact-create-patient-text" for="floatingContact">Phone Number</label> -->
                            <input asp-for="Mobile" class=" form-control contact-create-patient shadow-none" id="phone" type="tel" name="phone" />
                            <label class="contact-create-patient-text" for="phone"> </label>
                        </div>
                    </div>






                    <div class="col">
                        <h5>Patient Location</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Street" type="text" class="form-control street-create-patient  shadow-none" id="floatingInput" placeholder="">
                            <label class="street-create-patient-text" for="floatingInput">Street</label>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control city-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="city-create-patient-text" for="floatingInput">City</label>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="State" type="text" class="form-control state-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="state-create-patient-text" for="floatingInput">State</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="ZipCode" type="text" class="form-control zipcode-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                        </div>
                    </div>

                    <div class="col-md-6 me-auto">
                        <div class="form-floating mb-3">
                            <input  type="text" class="form-control room-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="room-create-patient-text" for="floatingInput">Room # / Suite (Optional)</label>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-floating mb-3">
                            <a href="" class="map-btn p-2" role="button"><i class="fa-solid fa-location-dot me-1" style="color: #01bce9; font-size: 20px;"></i> Map</a>
                        </div>
                    </div>

                    <div class="col">
                        <h5>Relation</h5>
                    </div>
                    <div class="col-md-6 me-auto">
                        <div class="form-floating mb-3">
                            <input asp-for="Relation" type="text" class="form-control relation-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="relation-create-patient-text" for="floatingInput">Relation with Patient (Optional)</label>
                        </div>
                    </div>

                    <div class="col">
                        <h5>(Optional) Upload Photo or Document</h5>
                    </div>


                    <div class="col-md-12 gy-3">



                        <input type="file" id="real-file" hidden="hidden" asp-for="MultipleFiles" multiple />

                        <div class="input-group mb-3">
                            <input class="form-control bg-light" type="text" id="custom-text"
                                   aria-label="readonly input example" value="Select File" readonly>
                            <button class="btn btn-info" type="button" id="custom-button">
                                <i class="bi bi-cloud-arrow-up"></i> Upload
                            </button>
                        </div>

                    </div>
                    <!-- <div class="col-md-3 gy-3">
                        <button class="btn upload-btn-create-patient position-absolute mb-3"><i class="fa-solid fa-cloud-arrow-up me-2 " style="color: #ffffff;"></i>Upload</button>
                    </div> -->
                    <div class="col d-flex justify-content-end mb-2">
                        <button class="btn submit-btn-create-patient me-2" data-toggle="modal" data-target="#confirmation-modal">Submit</button>
                        <button class="btn cancel-btn-create-patient ms-1">Cancel</button>
                    </div>




                </div>
            </div>
            </form>
        </main>



        <footer class="d-flex justify-content-end align-items-baseline create-patient-req-footer ">
            <partial name="Request_footer" />
        </footer>
    </div>
    <script src="/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
</body>

</html>