@model HalloDoc.DataAccessLayer.DataModels.HealthProfessional

@{
    Layout = "_AdminHeader";
}

        <main>
            <form method="post" id="sendOrderForm" action="@Url.Action("addBusiness", "Admin")">
                <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">

                    <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">

                        <div class="d-flex flex-row justify-content-between mb-3">
                            <h3>Add Business</h3>
                            <a class="btn back-btn mt-1" asp-controller="Admin" asp-action="adminDashboard">< Back</a>
                        </div>

                       
                            <h4>Submit Information</h4>
                            <div class="col-md-6 ">
                                <div class="form-floating mb-3">
                                    <input asp-for="VendorName"  type="text" class="form-control b-contact last-name-create-patient shadow-none m-2" id="floatingInput" placeholder="">
                                    <label class="last-name-create-patient-text" for="floatingInput">Business Name</label>
                                    <span asp-validation-for="VendorName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                            <select name="Profession" id="healthprofesional" class="form-select m-2" aria-label="Default select example">
                                <option selected>All HealthProfessional</option>
                                

                            </select>
                    <span asp-validation-for="Profession" class="text-danger"></span>
                            </div>
                       

                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="FaxNumber" type="text" class="form-control faxnumber last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">Fax Number</label>
                                <span asp-validation-for="FaxNumber" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="PhoneNumber" type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">Phone Number</label>
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 gy-3 ">
                            <div class="form-floating mb-3">
                                <input asp-for="Email" type="email" class="form-control email email-create-patient shadow-none" id="floatingInput" placeholder="name@example.com">
                                <label class="email-create-patient-text" for="floatingInput">Email address</label>
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="BusinessContact" type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">Business Contact</label>
                                <span asp-validation-for="BusinessContact" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">Street</label>
                        
                               
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="City" type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">City</label>
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="State" type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">State</label>
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="form-floating mb-3">
                                <input asp-for="Zip" type="text" class="form-control b-contact last-name-create-patient shadow-none" id="floatingInput" placeholder="">
                                <label class="last-name-create-patient-text" for="floatingInput">Zip/postal</label>
                                <span asp-validation-for="Zip" class="text-danger"></span>
                            </div>
                        </div>
                        

                        


                        <div class="col d-flex justify-content-end mb-2">
                            <button type="submit" class="btn submit-btn-create-patient me-2">Submit</button>
                            <button class="btn ms-1" style="border: 1px solid #01bce9; color: #01bce9;">Cancel</button>
                        </div>

                    </div>
                </div>
            </form>
        </main>

    <script>
        $(document).ready(function () {
            $.ajax({
                url: '/Admin/GetAllHealthProfessionalType',
                type: 'GET',

                success: function (data) {

                    var healthprofesionalDropdown = $('#healthprofesional');
                    healthprofesionalDropdown.empty();
                    healthprofesionalDropdown.append($('<option></option>').text("Select Profession"));
                    $.each(data, function (index, Profession) {

                        healthprofesionalDropdown.append($('<option></option>').attr('value', Profession.healthProfessionalId).text(Profession.professionName));

                    });

                }
            });
        });


    </script>
@* </body>
</html> *@