@model HalloDoc.DataAccessLayer.DataModels.Admin;
@{
    Layout = "_AdminHeader";
}


            <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
                <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                    <div class="col  d-flex justify-content-between ">
                        <h3>My Profile</h3>
                        <a class="btn back-btn mt-1" role="button" asp-controller="Admin" asp-action="adminDashboard"> < Back</a>

                    </div>
                <form method="post" class="row row-cols-1 " action="@Url.Action("adminProfileUpdateStatus", "Admin")" enctype="multipart/form-data">
                    <div class="col">
                        <h5>Account Information</h5>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="first-name-create-patient-text" for="floatingInput">Username</label>

                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input type="password" name="password" id="password" class="form-control password-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="password-create-patient-text" for="floatingInput">Password</label>
                            <span id="pwd"></span>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <select asp-for="Status" class="form-select p-3 ainfo" aria-label="Default select example" disabled>
                            <option selected>Status</option>
                            <option value="2">Active</option>
                            <option value="3">Not Active</option>
                        </select>

                    </div>

                    <div class="col-md-6 gy-3" style=" color: lightgray;">

                        <select asp-for="RoleId" id="role" class="form-select p-3 ainfo" aria-label="Default select example" disabled>
                    <option selected>Role</option>


                        </select>
                    </div>

            <div class="col d-flex justify-content-start m-2">
                <a role="button" class="btn submit-btn-create-patient me-2" id="edit3">Edit</a>


            </div>
            <a class="btn back-btn m-2 w-25 ms-auto" role="button" id="reset">Reset Password</a>
           
                    <div class="col d-flex justify-content-end mb-2">

                  
                    
                    <button type="submit" role="button" class="btn save-btn-patient-profile  me-2 p-2" id="submit3" style="display: none;">Save</button>
                    <a role="button" class="btn cancel-btn-patient-profile  me-2 p-2" id="cancel3" style="display: none;">Cancel</a>
                    </div>
                </form>
          
            
                   
                 <form method="post" class="row row-cols-1 " asp-controller="Admin" asp-action="adminProfile" enctype="multipart/form-data">
                    <div class="col">
                        <h5>Administrator Information</h5>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none e1" id="floatingInput" placeholder="" disabled>
                            <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                     <span id="firstNameValidation"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none e1" id="floatingInput" placeholder="" disabled>
                            <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                    <span id="lastNameValidation"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none e1" id="floatingInput" placeholder="name@example.com" disabled>
                            <label class="email-create-patient-text" for="floatingInput">Email address</label>
                    <span id="emailValidation"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none e1" id="floatingInput1" placeholder="name@example.com" disabled>
                            <label class="email-create-patient-text" for="floatingInput1">Confirm Email address</label>
                            
                        </div>
                    </div>
                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">

                            <input asp-for="Mobile" class=" form-control contact-create-patient shadow-none e1" id="phone" type="tel" disabled />
                            <label class="contact-create-patient-text" for="phone"> </label>
                    <span id="contactValidation"></span>
                        </div>
                    </div>

                    <div id="checkbox-container" class="col-md-6 gy-3">
                    <input type="hidden" id="uncheckedCheckboxesInput" name="uncheckedCheckboxes" />

                    </div>
                     
                  

                    <div class="col d-flex justify-content-end mb-2">
                        <a role="button" class="btn submit-btn-create-patient  me-2" id="edit1">Edit</a>
                        
                    </div>

                    <div class="col d-flex justify-content-end mb-2">
                    <button type="submit" role="button" class="btn save-btn-patient-profile  me-2 p-2" id="submit1" style="display: none;">Save</button>
                    <a role="button" class="btn cancel-btn-patient-profile  me-2 p-2" id="cancel1" style="display: none;">Cancel</a>
                    </div>
                </form> 

                <form method="post" class="row row-cols-1 " asp-controller="Admin" asp-action="adminProfileBilling" enctype="multipart/form-data">
                    <div class="col">
                        <h5>Mailing & Billing Information</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address1" type="text" class="form-control street street-create-patient  shadow-none info" id="floatingInput" placeholder="" disabled>
                            <label class="street-create-patient-text" for="floatingInput">Address 1</label>
                 
                        </div>
               
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address2" type="text" class="form-control street-create-patient  shadow-none info" id="floatingInput" placeholder="" disabled>
                            <label class="street-create-patient-text" for="floatingInput">Address 2</label>
                            
                        </div>
               
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control city-create-patient shadow-none info" id="floatingInput" placeholder="" disabled>
                            <label class="city-create-patient-text" for="floatingInput">City</label>
                    <span id="cityValidation"></span>
                        </div>
               
                    </div>


                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control state-create-patient shadow-none info" id="floatingInput" placeholder="" disabled>
                            <label class="state-create-patient-text" for="floatingInput">State</label>
                  
                        </div>
              
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Zip" type="text" class="form-control zipcode-create-patient shadow-none info" id="floatingInput" placeholder="" disabled>
                            <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                    <span id="zipcodeValidation"></span>
                        </div>
              
                    </div>
                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">

                            <input asp-for="AltPhone" class=" form-control contact-create-patient shadow-none info" id="phone1" type="tel" disabled />
                            <label class="contact-create-patient-text" for="phone1"> </label>
                          
                        </div>
                    </div>






                    <div class="col d-flex justify-content-end mb-2">
                        <a role="button" class="btn submit-btn-create-patient me-2" id="edit2">Edit</a>
                        

                    </div>
                    
                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" role="button" class="btn save-btn-patient-profile  me-2 p-2" id="submit2" style="display: none;">Save</button>
                        <a role="button" class="btn cancel-btn-patient-profile  me-2 p-2" id="cancel2" style="display: none;">Cancel</a>
                    </div>


                </form>

                </div>
            </div>


    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
    <script>
        const phoneInputField1 = document.querySelector("#phone1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>
<script>
    $(document).ready(function () {

        $('#adminProfile').css('border-bottom', 'solid 3px #01bce9');
    });
</script>

<script>
    $('#submit1').click(function (e) {


        var firstName = $('.first-name-create-patient').val();
        var lastName = $('.last-name-create-patient').val();

        var DOB = $('.dob-create-patient').val();
        var contact = $('.contact-create-patient').val();

        var email = $('.email-create-patient ').val();
      

        if (firstName == "") {
            $('#firstNameValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (lastName == "") {
            $('#lastNameValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (DOB == "") {
            $('#DOBValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (contact == "") {
            $('#contactValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (email == "") {
            $('#emailValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
       


    });
</script>
<script>
    $('#submit2').click(function (e) {
        var street = $('.street').val();

        var city = $('.city-create-patient').val();
        var state = $('.state-create-patient').val();

        var zipcode = $('.zipcode-create-patient').val();
        if (street == "") {
            $('#streetValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (city == "") {
            $('#cityValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (state == "") {
            $('#stateValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (zipcode == "") {
            $('#zipcodeValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
    });
</script>


    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Admin/GetAdminsRoles',
                type: 'GET',

                success: function (data) {

                    var roleDropdown = $('#role');
                    roleDropdown.empty();
                    roleDropdown.append($('<option></option>').text("Role"));
                    $.each(data, function (index, RoleId) {

                        roleDropdown.append($('<option></option>').attr('value', RoleId.roleId).text(RoleId.name));
                    });
                }
            });




        });
    </script>
    <script>
        $(document).ready(function () {
          
            $.ajax({
                url: '/Admin/getAdminRegions',
                method: 'GET',
                success: function (data) {
                   
                        $.each(data, function (index, region) {

                        var checkbox = $('<input checked disabled>').attr({
                                type: 'checkbox',
                                name: 'regions',
                                class: 'box',
                                value: region.regionId
                            });
                           
                            var label = $('<label>').text(region.name);
                           
                            var container = $('#checkbox-container');
                        container.append(checkbox).append(" ").append(label).append('<br>');
                        });
                 
                },
                error: function (xhr, status, error) {
                    console.error("Error fetching regions:", xhr.status, xhr.statusText);
                    console.error("Response body:", xhr.responseText);
                    alert("Failed to fetch regions. Please try again later.");
                }

            });
        });
    </script>

    <script>
        const editBtn1 = document.querySelector("#edit1");
      
        const saveBtn1 = document.querySelector("#submit1");
      
        const cancelBtn1 = document.querySelector("#cancel1");
       
        const e1 = document.querySelectorAll(".e1");
        const check = document.querySelector("#checkbox-container");
        const checks = check.getElementsByTagName('input');
        editBtn1.addEventListener("click", function () {
            e1.forEach(field => {
                field.removeAttribute("disabled");  
               
            });
        
            for (let i = 0; i < checks.length; i++) {
                checks[i].removeAttribute("disabled");
                
            }
           
            editBtn1.style.display = "none";
            saveBtn1.style.display = "inline-block";
            cancelBtn1.style.display = "inline-block";
        });

        cancelBtn1.addEventListener("click", function () {
            e1.forEach(field => {
                field.setAttribute("disabled", true);
            });
        for (let i = 0; i < checks.length; i++) {
            checks[i].setAttribute("disabled", true);

        }
            editBtn1.style.display = "inline-block";
            saveBtn1.style.display = "none";
            cancelBtn1.style.display = "none";
        });

</script>
<script>
        const editBtn2 = document.querySelector("#edit2");
        const saveBtn2 = document.querySelector("#submit2");
        const cancelBtn2 = document.querySelector("#cancel2");
        const editBtn3 = document.querySelector("#edit3");
        const saveBtn3 = document.querySelector("#submit3");
        const cancelBtn3 = document.querySelector("#cancel3");
        const ainfo = document.querySelectorAll(".ainfo");
    const info = document.querySelectorAll(".info");
        editBtn2.addEventListener("click", function () {

        info.forEach(field => {
                field.removeAttribute("disabled");
            });
            editBtn2.style.display = "none";
            saveBtn2.style.display = "inline-block";
            cancelBtn2.style.display = "inline-block";
        });

        editBtn3.addEventListener("click", function () {
            ainfo.forEach(field => {
                field.removeAttribute("disabled");
            });
            editBtn3.style.display = "none";
            saveBtn3.style.display = "inline-block";
            cancelBtn3.style.display = "inline-block";
        });

        cancelBtn2.addEventListener("click", function () {
            info.forEach(field => {
                field.setAttribute("disabled", true);
            });
            editBtn2.style.display = "inline-block";
            saveBtn2.style.display = "none";
            cancelBtn2.style.display = "none";
        });
        cancelBtn3.addEventListener("click", function () {
            ainfo.forEach(field => {
                field.setAttribute("disabled", true);
            });
            editBtn3.style.display = "inline-block";
            saveBtn3.style.display = "none";
            cancelBtn3.style.display = "none";
        });
</script>

<script>

         
        $('#submit1').click(function () {
            var uncheckedCheckboxes = [];
            $('input[type="checkbox"]').each(function () {
                if (!$(this).prop('checked')) {
                    uncheckedCheckboxes.push($(this).val());
                }
            });


            var uncheckedCheckboxesString = uncheckedCheckboxes.join(',');
           
            $('#uncheckedCheckboxesInput').val(uncheckedCheckboxesString);

        });

       
</script>

    <script>


        $('#reset').click(function () {

            
            const password = $('#password').val();
            if (password == "") {
                $("#pwd").append("Enter Password First!!").css("color", "red");
            }
            alert(password);
            if (password != "") {
                $.ajax({
                    url: '/Admin/adminProfileUpdatePassword',
                    method: 'POST',
                    data: {'password': password },
                    success: function (data) {
                    }
                });
            }

        });

    </script>
