@model HalloDoc.DataAccessLayer.DataModels.ViewModels.TimesheetModel
@{
    Layout = "_AdminHeader";
}

<script>
    $(document).ready(function () {

        $('.provider').css('border-bottom', 'solid 3px #01bce9');
    });
</script>

@{
    var today = DateTime.Now.ToString("yyyy/MM/dd");
}


<div class="d-flex flex-column justify-content-center align-items-center mt-1">
    <div class="row row-cols-1 justify-content-center align-items-center bg-white w-50">
        <div class="col  d-flex justify-content-between m-2">
            <h3>Timesheets</h3>
            <a class="btn border border-info mt-1" role="button" asp-controller="Admin" asp-action="providerMenu"> < Back</a>
        </div>
        <div class="col d-flex m-2">
            <select name="physician" id="physician" class="w-25 m-2 form-select border border-secondary rounded p-2 physician">
                <option selected>Select Physician</option>


            </select>
            <select class="border border-secondary rounded p-2 m-2" id="timesheetPeriod" onmouseup="this.style.outline='none'">
                <option>Search By Timesheet Period</option>
                @{
                    DateTime todayDate = DateTime.Now;

                    for (int i = 1; i <= todayDate.Month; i++)
                    {
                        var firstDayOfMonth = new DateTime(todayDate.Year, i, 1);
                        var lastDayOfMonth = firstDayOfMonth.AddMonths(1).AddDays(-1);
                        int daysInMonth = lastDayOfMonth.Day;

                        string option1 = $"{firstDayOfMonth:yyyy/MM/dd} - {firstDayOfMonth.AddDays(daysInMonth / 2 - 1):yyyy/MM/dd}";
                        string option2 = $"{firstDayOfMonth.AddDays(daysInMonth / 2):yyyy/MM/dd} - {lastDayOfMonth:yyyy/MM/dd}";

                            <option>@option1</option>
                            <option>@option2</option>

                    }
                }
            </select>

           
        </div>
       
    </div>

    <div class="row row-cols-1 justify-content-center align-items-center bg-white w-50 mt-3">
        
        <div id="timesheetTable"> </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#timesheetPeriod').change(function () {
            if ($('#timesheetPeriod').val() != "Search By Timesheet Period" && $('#physician').val() != "Select Physicians")
                checkFinalize();
        });
        $('#physician').change(function () {
            if ($('#timesheetPeriod').val() != "Search By Timesheet Period" && $('#physician').val() != "Select Physicians")
                checkFinalize();
        });

    });
</script>
<script>
    function MyAjax(pagenumber) {
        var Date = $('#timesheetPeriod').val();
        var dates = Date.split(" - ");
        var startDate = dates[0];
        var endDate = dates[1];
        var id = $('#physician').val();
        $.ajax({
            url: "/Admin/GETTimeSheet",
            data: { 'StartDate': startDate, 'endDate': endDate , 'phyId': id },
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#timesheetTable").html(data);
            },
            error: function () {
                $("#timesheetTable").html('No Data Found');
            }
        });
    }
</script>
<script>
    $(document).ready(function () {
      
            var regionId = $(this).val();

            $.ajax({
            url: '/Admin/GetAllPhysicians',
                type: 'GET',
              
                success: function (data) {

                    var physicianDropdown = $('#physician');
                    physicianDropdown.empty();
                    physicianDropdown.append($('<option></option>').text("Select Physicians"));
                    $.each(data, function (index, physician) {
                        physicianDropdown.append($('<option></option>').attr('value', physician.physicianId).text(physician.firstName));
                    });
                }
            });
    });
</script>
<script>
    function checkFinalize() {
        debugger;
        var Date = $('#timesheetPeriod').val();
        var dates = Date.split(" - ");
        var startDate = dates[0];
        var phyid = $('#physician').val();
    
        fetch('/Admin/Invoicing/' + startDate + '/' + phyid)
            .then(response => response.json())
            .then(data => {
                if (data.isfinal && data.isapprove) {
                    MyAjax();
                }
                else if (data.isfinal && !data.isapprove) {
                    getTableDataForApprove();
                }
                else {
                    $("#timesheetTable").html(phyid + ' has not finalized the timesheet in specified time period');
                }
            })
            .catch(error => console.error('Error:', error));

    }
</script>


    <script>
    function getTableDataForApprove() {
            var Date = $('#timesheetPeriod').val();
            var dates = Date.split(" - ");
            var startDate = dates[0];
            var phyid = $('#physician').val();
        $.ajax({
            url: "/Admin/GETTimeSheetForApprove",
            data: { 'StartDate': startDate, 'phyid': phyid },
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#timesheetTable").html(data);
            },
            error: function () {
                $("#timesheetTable").html('No Data Found2');
            }
        });
    }
</script>
