@model HalloDoc.DataAccessLayer.DataModels.Admin;
@{
    Layout = "_AdminHeader";
}

        <form method="post" class="row row-cols-1 " action="@Url.Action("createAdmin", "Admin")" enctype="multipart/form-data">
            <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
                <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                    <div class="col  d-flex justify-content-between m-3">
                        <h3>Create Admin Account</h3>
                        <a class="btn back-btn mt-1" role="button" asp-controller="Admin" asp-action="adminAccess"> < Back</a>

                    </div>

                    <div class="col">
                        <h5>Account Information</h5>
                    </div>
                    <div class="col-md-4 gy-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control ainfo first-name-create-patient shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="first-name-create-patient-text" for="floatingInput">Username</label>

                        </div>
                    </div>
                    <div class="col-md-4 gy-3">
                        <div class="form-floating mb-3">
                            <input type="password" name="password" id="password" class="form-control  password-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="password-create-patient-text" for="floatingInput">Password</label>

                        </div>
                    </div>

                    <div class="col-md-4 gy-3 mb-3" style=" color: lightgray;">

                        <select name="role" id="role" class="form-select m-2 p-2 ainfo" aria-label="Default select example">
                            <option selected>Select Role</option>


                        </select>
                    </div>

                    <div class="col">
                        <h5>Physician Information</h5>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none e1" id="floatingInput" placeholder="">
                            <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none e1" id="floatingInput" placeholder="">
                            <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none e1" id="floatingInput" placeholder="name@example.com">
                            <label class="email-create-patient-text" for="floatingInput">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control email-create-patient shadow-none e1" id="floatingInput" placeholder="name@example.com">
                            <label class="email-create-patient-text" for="floatingInput">Confirm Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-6 gy-3 me-auto">
                        <div class="form-floating mb-3 ">
                            <input asp-for="Mobile" class=" form-control contact-create-patient shadow-none e1" id="phone" type="tel" />
                            <label class="contact-create-patient-text" for="phone"> </label>
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-12 d-flex flex-row">
                        <div id="checkbox-container" class="col-md-6 gy-3 ">
                            <input type="hidden" id="uncheckedCheckboxesInput" name="checkedcheckbox" />

                        </div>
                    </div>


                    <div class="col">
                        <h5>Mailing & Billing Information</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address1" type="text" class="form-control street-create-patient  shadow-none info" id="floatingInput" placeholder="">
                            <label class="street-create-patient-text" for="floatingInput">Address 1</label>
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address2" type="text" class="form-control street-create-patient  shadow-none info" id="floatingInput" placeholder="">
                            <label class="street-create-patient-text" for="floatingInput">Address 2</label>

                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control city-create-patient shadow-none info" id="floatingInput" placeholder="">
                            <label class="city-create-patient-text" for="floatingInput">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>


                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control state-create-patient shadow-none info" id="floatingInput" placeholder="">
                            <label class="state-create-patient-text" for="floatingInput">State</label>

                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Zip" type="text" class="form-control zipcode-create-patient shadow-none info" id="floatingInput" placeholder="">
                            <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                            <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">
                            <input asp-for="AltPhone" class=" form-control contact-create-patient shadow-none info" id="phone1" type="tel" />
                            <label class="contact-create-patient-text" for="phone1"> </label>
                            <span asp-validation-for="AltPhone" class="text-danger"></span>
                        </div>
                    </div>

                    <button role="button" style="height:fit-content; border:none;" type="submit" class="create-provider-btn w-25 p-1 ms-auto mb-3">Create Account</button>
                </div>
            </div>
        </form>


    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>




    <script>
        const phoneInputField1 = document.querySelector("#phone1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>


    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Admin/GetAdminsRoles',
                type: 'GET',

                success: function (data) {

                    var roleDropdown = $('#role');
                    roleDropdown.empty();
                    roleDropdown.append($('<option></option>').text("Select Roles"));
                    $.each(data, function (index, role) {

                        roleDropdown.append($('<option></option>').attr('value', role.roleId).text(role.name));
                    });
                }
            });




        });
    </script>

    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Admin/getAllRegions',
                method: 'GET',

                success: function (data) {

                    $.each(data, function (index, region) {

                        var checkbox = $('<input>').attr({
                            type: 'checkbox',
                            name: 'region',
                            class: 'box',
                            value: region.regionId
                        });

                        var label = $('<label>').text(region.name);

                        var container = $('#checkbox-container');
                        container.append(checkbox).append(" ").append(label).append('<br>');
                    });

                },
                error: function (xhr, status, error) {
                    console.error("Error fetching regions:", xhr.status, xhr.statusText);
                    console.error("Response body:", xhr.responseText);
                    alert("Failed to fetch regions. Please try again later.");
                }

            });
        });
    </script>
