@model HalloDoc.DataAccessLayer.DataModels.Physician;
@{
    Layout = "_AdminHeader";
}


        <form method="post" class="row row-cols-1 " action="@Url.Action("createPhysicianAccount", "Admin")" enctype="multipart/form-data">
        <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
            <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                <div class="col  d-flex justify-content-between ">
                    <h3>Create Physician Account</h3>
                    <a class="btn back-btn mt-1" role="button" asp-controller="Admin" asp-action="providerMenu"> < Back</a>

                </div>
               
                    <div class="col">
                        <h5>Account Information</h5>
                    </div>
                    <div class="col-md-4 gy-3">
                        <div class="form-floating mb-3">
                            <input  type="text" class="form-control ainfo first-name-create-patient shadow-none" id="floatingInput" placeholder="" disabled>
                            <label class="first-name-create-patient-text" for="floatingInput">Username</label>

                        </div>
                    </div>
                    <div class="col-md-4 gy-3">
                        <div class="form-floating mb-3">
                            <input type="password" name="password" id="password" class="form-control  password-create-patient shadow-none" id="floatingInput" placeholder="">
                            <label class="password-create-patient-text" for="floatingInput">Password</label>
                        <span id="passwordValidation"></span>
                        </div>
                    </div>


                    <div class="col-md-4 gy-3 mb-3" style=" color: lightgray;">
                       
                        <select name="role" id="role" class="form-select m-2 p-3 ainfo" aria-label="Default select example">
                            <option selected>Select Role</option>


                        </select>
                        <span class="roleValidation"></span>
                    </div>


               
                    <div class="col">
                        <h5>Physician Information</h5>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="FirstName" type="text" class="form-control first-name-create-patient shadow-none e1" id="floatingInput" placeholder="" >
                            <label class="first-name-create-patient-text" for="floatingInput">First Name</label>
                    <span class="firstNameValidation"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="LastName" type="text" class="form-control last-name-create-patient shadow-none e1" id="floatingInput" placeholder="" >
                            <label class="last-name-create-patient-text" for="floatingInput">Last Name</label>
                    <span class="lastNameValidation"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Email" type="email" class="form-control phyEmail email-create-patient shadow-none e1" id="floatingInput" placeholder="name@example.com" >
                            <label class="email-create-patient-text" for="floatingInput">Email address</label>
                    <span class="emailValidation"></span>
                            
                        </div>
                    </div>


                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">

                            <input asp-for="Mobile" class=" form-control contact-create-patient shadow-none e1" id="phone" type="tel"  />
                            <label class="contact-create-patient-text" for="phone"> </label>
                    <span class="contactValidation"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="MedicalLicense" type="text" class="form-control last-name-create-patient shadow-none e1" id="floatingInput" placeholder="" >
                            <label class="last-name-create-patient-text" for="floatingInput">Medical License #</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="Npinumber" type="text" class="form-control last-name-create-patient shadow-none e1" id="floatingInput" placeholder="" >
                            <label class="last-name-create-patient-text" for="floatingInput">NPI Number</label>
                        </div>
                    </div>


                    <div class="col-md-12 d-flex flex-row">
                        <div id="checkbox-container" class="col-md-6 gy-3 ">
                        <input type="hidden" id="uncheckedCheckboxesInput" name="checkedcheckbox" />

                    </div>
                    </div>
             
           
                    <div class="col">
                        <h5>Mailing & Billing Information</h5>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address1" type="text" class="form-control address street-create-patient  shadow-none info" id="floatingInput" placeholder="" >
                            <label class="street-create-patient-text" for="floatingInput">Address 1</label>
                    <span class="addressValidation"></span>
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Address2" type="text" class="form-control street-create-patient  shadow-none info" id="floatingInput" placeholder="" >
                            <label class="street-create-patient-text" for="floatingInput">Address 2</label>


                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="City" type="text" class="form-control city-create-patient shadow-none info" id="floatingInput" placeholder="" >
                            <label class="city-create-patient-text" for="floatingInput">City</label>
                    <span class="cityValidation"></span>
                        </div>
                    </div>


                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input  type="text" class="form-control state-create-patient shadow-none info" id="floatingInput" placeholder="" >
                            <label class="state-create-patient-text" for="floatingInput">State</label>
                    <span class="stateValidation"></span>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="Zip" type="text" class="form-control zipcode-create-patient shadow-none info" id="floatingInput" placeholder="" >
                            <label class="zipcode-create-patient-text" for="floatingInput">Zipcode</label>
                    <span class="zipcodeValidation"></span>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3 ">
                        <div class="form-floating mb-3">
                            <input asp-for="AltPhone" class=" form-control contact-create-patient shadow-none info" id="phone1" type="tel" />
                            <label class="contact-create-patient-text" for="phone1"> </label>
                           
                        </div>
                    </div>


                
                    <div class="col">
                        <h5>Provider Profile</h5>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="BusinessName" type="text" class="form-control binfo first-name-create-patient shadow-none" id="floatingInput" placeholder="" >
                            <label class="first-name-create-patient-text" for="floatingInput">Business Name</label>
                            <span asp-validation-for="BusinessName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input asp-for="BusinessWebsite" type="text" class="form-control binfo first-name-create-patient shadow-none" id="floatingInput" placeholder="" >
                            <label class="first-name-create-patient-text" for="floatingInput">Business Website</label>

                        </div>
                    </div>
                    <div class="col-md-6 gy-3 me-auto">
                        <input type="file" name="photo" id="real-file" hidden="hidden" />
                        <div class="input-group mb-3">
                            <input class="form-control binfo" type="text" id="custom-text" aria-label="readonly input example" value="Select Photo" readonly >
                            <button class="btn btn-info" type="button" id="custom-button">
                                <i class="bi bi-cloud-arrow-up"></i> Upload
                            </button>
                        </div>
                    </div>
                    
                    <div class="col-md-12 gy-3">
                        <div class="form-floating m-2">
                            <textarea asp-for="AdminNotes" class="form-control binfo symptoms-create-patient additionalnote shadow-none" placeholder="" id="floatingTextarea" style="height: 100px" ></textarea>
                            <label class="symptoms-create-patient-text" for="floatingTextarea">Admin Notes</label>
                        </div>
                    </div>


                    <hr>
                  
                        <div class="d-flex flex-column justify-content-between">
                            <div class="form-check mb-3 d-flex flex-row">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Independent Contractor Agreement
                                </label>


                                <input type="file" name="agreementDoc" id="real-file2" hidden="hidden" />
                                <div class="input-group mb-3">
                                    <input class="form-control binfo" type="text" id="custom-text2" aria-label="readonly input example" value="Select Agreement" readonly disabled>
                                    <button class="btn btn-info" type="button" id="custom-button2">
                                        <i class="bi bi-cloud-arrow-up"></i> Upload
                                    </button>
                                </div>
                            </div>

                            <div class="form-check mb-3">

                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Background Check
                                </label>

                                <input type="file" name="backgroundDoc" id="real-file3" hidden="hidden" />
                                <div class="input-group mb-3">
                                    <input class="form-control binfo" type="text" id="custom-text3" aria-label="readonly input example" value="Select backgroundDoc" readonly disabled>
                                    <button class="btn btn-info" type="button" id="custom-button3">
                                        <i class="bi bi-cloud-arrow-up"></i> Upload
                                    </button>
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    HIPAA Compliance
                                </label>

                                <input type="file" name="hippaDoc" id="real-file4" hidden="hidden" />
                                <div class="input-group mb-3">
                                    <input class="form-control binfo" type="text" id="custom-text4" aria-label="readonly input example" value="Select hippaDoc" readonly disabled>
                                    <button class="btn btn-info" type="button" id="custom-button4">
                                        <i class="bi bi-cloud-arrow-up"></i> Upload
                                    </button>
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Non-disclosure Agreement
                                </label>

                                <input type="file" name="disclosureDoc" id="real-file5" hidden="hidden" />
                                <div class="input-group mb-3">
                                    <input class="form-control binfo" type="text" id="custom-text5" aria-label="readonly input example" value="Select disclosureDoc" readonly disabled>
                                    <button class="btn btn-info" type="button" id="custom-button5">
                                        <i class="bi bi-cloud-arrow-up"></i> Upload
                                    </button>
                                </div>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    License Document
                                </label>
                                <input type="file" name="licenseDoc" id="real-file6" hidden="hidden" />
                                <div class="input-group mb-3">
                                    <input class="form-control binfo" type="text" id="custom-text6" aria-label="readonly input example" value="Select licenseDoc" readonly disabled>
                                    <button class="btn btn-info" type="button" id="custom-button6">
                                        <i class="bi bi-cloud-arrow-up"></i> Upload
                                    </button>
                                </div>
                            </div>

                           
                        </div>
                
                    <button role="button" style="height:fit-content; border:none;" type="submit" id="createBtn" class="create-provider-btn w-25 p-1 ms-auto mb-3">Create Account</button>
            </div>
        </div>
        </form>


<script>
    $('#createBtn').click(function (e) {
        var password = $('#password').val();
        var role = $('#role').val();
        var firstName = $('.first-name-create-patient').val();
        var lastName = $('.last-name-create-patient').val();

        var email = $('.phyEmail').val();
        var contact = $('.contact-create-patient').val();
        var address = $('.address').val();
        var city = $('.city-create-patient').val();
        var state = $('.state-create-patient').val();
        var zip = $('.zipcode-create-patient').val();
        if (password == "") {
            $('#passwordValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (role == "" || role == "Select Roles") {
            $('.roleValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (firstName == "") {
            $('.firstNameValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (lastName == "") {
            $('.lastNameValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (email == "") {
            $('.emailValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (contact == "") {
            $('.contactValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (address == "") {
            $('.addressValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (city == "") {
            $('.cityValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (state == "") {
            $('.stateValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
        if (zip == "") {
            $('.zipcodeValidation').text("Required field!").css("color", "red");
            e.preventDefault();
        }
    });


</script>


    <script>
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>




    <script>
        const phoneInputField1 = document.querySelector("#phone1");
        const phoneInput1 = window.intlTelInput(phoneInputField1, {
            utilsScript:
                "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

    </script>

    <script>
        function setupFileInput(fileInputId, customButtonId, customTextId) {
            let fileInput = document.getElementById(fileInputId);
            const customButton = document.getElementById(customButtonId);
            const customText = document.getElementById(customTextId);

            customButton.addEventListener("click", function () {
                fileInput.click();
            });

            fileInput.addEventListener("change", function () {
                var filename = "";
                for (var i = 0; i < fileInput.files.length; i++) {
                    filename = filename + " " + fileInput.files[i].name;
                }
                if (fileInput.files.length) {
                    customText.setAttribute("value", filename);
                    // this.closest('form').submit();
                } else {
                    customText.setAttribute("value", "Select File");
                }
            });
        }

        setupFileInput("real-file", "custom-button", "custom-text");
       
        setupFileInput("real-file2", "custom-button2", "custom-text2");
        setupFileInput("real-file3", "custom-button3", "custom-text3");
        setupFileInput("real-file4", "custom-button4", "custom-text4");
        setupFileInput("real-file5", "custom-button5", "custom-text5");
        setupFileInput("real-file6", "custom-button6", "custom-text6");
    </script>

    <script>
        $(document).ready(function () {

            $.ajax({
                url: '/Admin/GetPhysiciansRoles',
                type: 'GET',

                success: function (data) {

                    var roleDropdown = $('#role');
                    roleDropdown.empty();
                    roleDropdown.append($('<option></option>').text("Select Roles"));
                    $.each(data, function (index, role) {
                       
                        roleDropdown.append($('<option></option>').attr('value', role.roleId).text(role.name));
                    });
                }
            });




        });
    </script>

    <script>
        $(document).ready(function () {
            
            $.ajax({
                url: '/Admin/getAllRegions',
                method: 'GET',
             
                success: function (data) {

                    $.each(data, function (index, region) {

                        var checkbox = $('<input>').attr({
                            type: 'checkbox',
                           name: 'region',
                            class: 'box',
                            value: region.regionId
                        });

                        var label = $('<label>').text(region.name);

                        var container = $('#checkbox-container');
                        container.append(checkbox).append(" ").append(label).append('<br>');
                    });

                },
                error: function (xhr, status, error) {
                    console.error("Error fetching regions:", xhr.status, xhr.statusText);
                    console.error("Response body:", xhr.responseText);
                    alert("Failed to fetch regions. Please try again later.");
                }

            });
        });
    </script>
    <script>
    $('#createBtn').click(function (e) {
        var email = $('.phyEmail').val();
            $.ajax({
                url: '/Admin/isUserExists',
                data: {'email' : email},
                success: function (data) { 
                    if (data == true) {
                        $("#emailvalidate").text("Email already Exists!").css("color", "red");
                    }
                e.preventDefault();
            }
            });
        });
</script>