@model HalloDoc.DataAccessLayer.DataModels.ViewModels.createRole;


@{
    Layout = "_AdminHeader";
}

        <main>
          
          
            <div class="main-create-patient-req d-flex justify-content-center align-items-center mt-1">
                <div class="row row-cols-1 justify-content-center align-items-center width-create-patient-req ">
                
                    <div class="d-flex flex-row">
                        <h3>Create Role</h3>

                    </div>
                    <div class="d-flex">

                        <a role="button" style="height:fit-content;" asp-controller="Admin" asp-action="adminAccess" class="back-btn p-1 ms-auto mb-2">Back</a>
                    </div>
                     <form method="post" class="row row-cols-1 " asp-controller="Admin" asp-action="createRole" enctype="multipart/form-data"> 
                    <div class="col-md-6 gy-3">
                        <div class="form-floating mb-3">
                            <input  asp-for="Name" type="text" class="form-control first-name-create-patient shadow-none e1" id="floatingInput" placeholder="" >
                            <label class="first-name-create-patient-text" for="floatingInput">Role Name</label>
                           
                        </div>
                    </div>

                    <div class="col-md-6 gy-3">
                        <select asp-for="AccountType" class="form-select mb-3 p-3 ainfo" aria-label="Default select example" id="accountType">
                            <option selected>Account Type</option>
                            <option value="1">Admin</option>
                            <option value="2">Physician</option>
                            <option value="3">All</option>
                        </select>

                    </div>
            
                        <div id="checkbox-container" class="col-md-6 gy-3">
                            <input type="hidden" id="uncheckedCheckboxesInput" name="uncheckedCheckboxes" />

                        </div>


                    <div class="col d-flex justify-content-end mb-2">
                        <button type="submit" role="button" class="btn save-btn-patient-profile  me-2 p-2" id="submitbtn">Save</button>
                          
                        <a role="button" class="btn cancel-btn-patient-profile  me-2 p-2" id="cancel1" >Cancel</a>
                    </div>



                    </form>
                </div>
            </div>
           
        </main>

    <script>
        $(document).ready(function () {
            var accountType = null;

            $(document).on('change', '#accountType', function () {
              
                
                accountType = $('#accountType').val();
               
                $.ajax({
                    url: '/Admin/menuByAccountType',
                    method: 'GET',
                    data: { 'accountType': accountType },
                    success: function (data) {
                        $('#checkbox-container').empty();
                        $.each(data, function (index, menu) {

                            var checkbox = $('<input>').attr({
                                type: 'checkbox',
                                name: 'menu',
                               
                                value: menu.menuId
                            });
                           
                            var label = $('<label>').text(menu.name);

                            var container = $('#checkbox-container');
                            container.append(checkbox).append(" ").append(label).append('<br>');
                        });

                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching regions:", xhr.status, xhr.statusText);
                        console.error("Response body:", xhr.responseText);
                        alert("Failed to fetch pages. Please try again later.");
                    }



                });
            });
        });
    </script>


