@model HalloDoc.DataAccessLayer.DataModels.ViewModels.dashboardTableModel


@{
    Layout = "_AdminHeader";
}
<script>
    var role;
    var recieverName;
    var email;
    var createdDate;
    var sentDate;
   

    $(document).ready(function () {
        fetchEmailLogData();
    });



</script>
<script>
    function fetchEmailLogData() {
        role = $('#role').val();
        recieverName = $('#recieverName').val();
        email = $('#email').val();
        createdDate = $('#createdDate').val();
        sentDate = $('#sentDate').val();
      

        $.ajax({
            url: "/Admin/emailLogsTable",

            data: { 'role': role, 'recieverName': recieverName, 'email': email, 'createdDate': createdDate, 'sentDate': sentDate , 'pagenumber':1 },

            success: function (data) {
                $('#emaillogs-table').html(data);
            },
            error: function () {

            }
        });
    }
</script>

        <main>

            <div class="main-viewdocuments d-flex flex-column">
                <div class="view-documents d-flex flex-column  container">
                    <div class="d-flex flex-row justify-content-between m-3">
                        <h3>Email Logs (Gmail)</h3>
                        <a class="btn back-btn mt-1" role="button" asp-controller="Admin" asp-action="adminDashboard"> < Back</a>
                    </div>
                    
                    @* <form action="/Admin/emailLogs" method="POST"> *@
                        <div class="row d-flex justify-content-between">
                            <div class="col-md-3 gy-3">
                                <div class=" mb-3">
                                    <select name="role" id="role" class="form-select ">
                                        <option selected>Search by role</option>
                                        <option value="1">All</option>
                                       
                                    </select>

                                </div>
                            </div>
                            <div class="col-md-3 gy-3">
                                <div class="form-floating mb-3">
                            <input name="recieverName" id="recieverName" type="text" class="form-control first-name-create-patient shadow-none" placeholder="">
                                    <label class="first-name-create-patient-text" for="floatingInput">Reciever Name</label>

                                </div>
                            </div>
                            <div class="col-md-3 gy-3">
                                <div class="form-floating mb-3">
                                    <input name="email" type="email" id="email" class="form-control email-create-patient shadow-none" mailto:placeholder="name@example.com">
                                    <label class="email-create-patient-text">Email Id</label>
                                </div>
                            </div>
                            <div class="col-md-3 gy-3">
                                <div class="form-floating mb-3">
                                    <input name="createdDate" type="date" class="form-control dob-create-patient shadow-none" id="createdDate" placeholder="">
                                    <label class="dob-create-patient-text" for="floatingInput">Created Date</label>

                                </div>
                            </div>
                            <div class="col-md-3 gy-3">
                                <div class="form-floating mb-3">
                                    <input name="sentDate" type="date" class="form-control dob-create-patient shadow-none" id="sentDate" placeholder="">
                                    <label class="dob-create-patient-text" for="floatingInput">Sent Date</label>

                                </div>
                            </div>

                        </div>
                        <div class="d-flex justify-content-end m-2">
                    <a role="button" href="@Url.Action("clearBtnSearch", "Admin", new { id = "clearBtnEmailLogs"})" class="btn back-btn me-2">Clear</a>
                            <button role="button" onclick="fetchEmailLogData()" type="submit" class="btn submit-btn-create-patient">Search</button>
                        </div>
@* 
                    </form> *@
            <div id="emaillogs-table">
            </div>

                   












                </div>
            </div>
        </main>
