<div class="header d-flex justify-content-between">
    <button class="btn menu-icon-admin" onclick="toggleMenu()" style="border: none;"><i class="fa-solid fa-bars"></i></button>
    <div class="logo-img">
        <img class="img-fluid logo-patient-dashboard-main" src="/images/logo_dark.png" alt="">
    </div>

    <div class="dark d-flex dashboard-right">
        <p class="mt-4 p-2 dashboard-profile-name">Welcome <b>@ViewBag.Data</b></p>
        <a role="button" class="logout-btn mt-4 p-2" asp-controller="Admin" asp-action="logOut">Logout</a>
        <button class="btn " onclick="darkMode()" style="border: none;"><i class="fa-regular fa-moon dark-icon p-1"></i></button>
    </div>
</div>

<div class="tab-dashboard mt-1">
    <ul class="nav m-2">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="providerDashboard" aria-current="page">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="">My Schedule</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Admin" asp-action="providerProfile">My Profile</a>
        </li>
       

    </ul>
</div>
<script>
    function darkMode() {
        var element1 = document.querySelector(".full-content");

        element1.classList.toggle("dark-mode");
    }
</script>