<div class="header d-flex justify-content-between">
    <img class="img-fluid logo-patient-submit" src="/images/logo_dark.png" alt="">
    <div class="dark">
        <button class="btn" onclick="darkMode()" style="border: none;"><i class="fa-regular fa-moon dark-icon p-1"></i></button>
    </div>
</div>