@model HalloDoc.DataAccessLayer.DataModels.ViewModels.RequestandRequestClient;


@{
    Layout = "_ProviderHeader";
}

<main>
    <div id="toast-container"></div>

    <div class="main-admin-dashboad d-flex flex-column justify-content-between">
        <div class="row  m-2 ">
            <div class="card me-2" role="button" id="new-state" value="1">
                <div class="card-body">
                    <p><i class="fa-solid fa-circle me-1"></i> New</p>
                    <p id="count_new"> </p>
                </div>
            </div>
            <div class="card me-2" role="button" id="pending-state" value="2">
                <div class="card-body">
                    <p><i class="fa-regular fa-user me-1"></i> Pending</p>
                    <p id="count_pending"></p>
                </div>
            </div>
            <div class="card me-2" role="button" id="active-state" value="3">
                <div class="card-body">
                    <p><i class="fa-regular fa-circle-check me-1"></i> Active</p>
                    <p id="count_active"></p>
                </div>
            </div>
            <div class="card me-2" role="button" id="conclude-state" value="4">
                <div class="card-body">
                    <p><i class="fa-regular fa-clock me-1"></i> Conclude</p>
                    <p id="count_conclude"></p>
                </div>
            </div>

        </div>

        <div class="d-flex flex-row  justify-content-between m-2">
            <div>
                <h3>Patients <span id="requestState"></span></h3>
            </div>
            <div class="admin-buttons d-flex justify-content-end">
                <a class="btn me-1" href="#" role="button"><i class="fa-regular fa-paper-plane me-1"></i>Send Link</a>
                <a class="btn me-1" asp-controller="Provider" asp-action="providerCreateRequest" role="button"><i class="fa-regular fa-pen-to-square me-1"></i>Create Requests</a>
            </div>

        </div>
        <div class="d-flex admin-info-tags ">
            <div class="search-inputs d-flex m-2">
                <div class="col-md-12 form-floating m-1">
                    <input type="text" class="form-control search shadow-none" id="floatingInput" placeholder="Search Patients">
                    <label class="" for="floatingInput"><i class="fa-solid fa-magnifying-glass me-1"></i> Search Patients</label>
                </div>

            </div>
            <div class="color-dots d-flex flex-row m-2 p-2">
                <a class="p-2 me-1 role" role="button" style="text-decoration: none; color: grey;" data-id="all">All</a>
                <a role="button" data-id="2" class="role" style="text-decoration:none; color: black;"><i class="fa-solid fa-circle  me-1 p-2" style="color: #35d016;"></i>Patient</a>
                <a role="button" data-id="3" class="role" style="text-decoration:none; color: black;"><i class="fa-solid fa-circle role me-1 p-2" style="color: #FFD43B;"></i>Family/Friend</a>
                <a role="button" data-id="1" class="role" style="text-decoration:none; color: black;"><i class="fa-solid fa-circle role me-1 p-2" style="color: #e63368;"></i>Business</a>
                <a role="button" data-id="4" class="role" style="text-decoration:none; color: black;"><i class="fa-solid fa-circle role me-1 p-2" style="color: #74C0FC;"></i>Conciege</a>
            </div>

        </div>
        <div id="tableContainer">
        </div>
        <div id="modalpopup">
        </div>
    </div>

</main>

<script>
    $(document).ready(function () {

        $('#providerDashboard').css('border-bottom', 'solid 3px #01bce9');
    });
</script>
<script>

    function OpenChat(adminid, requesterType) {
        $.ajax({
            url: "/Provider/_ChatPanel",
            data: { 'adminid': adminid, 'requesterType': requesterType },
            type: "GET",
            dataType: "html",
            success: function (data) {
                $("#modalpopup").html(data);
            },
            error: function () {
                alert("No Projects Found");
                $("#tableContent").html('An error has occurred');
            }
        });
    }
    var connection = new signalR.HubConnectionBuilder().withUrl("/chatHub").build();
    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

</script>
<script>
 
    var patient_name;
    var type;
    var typeid;
    var requestState = "";
    var pagenumber;
    $(document).ready(function () {
        setTimeout(function () {
            $('#new-state').trigger('click');
        }, 1);

        $('.card').click(function () {
            type = $(this).attr("value");

            fetchData();
        });

        $('.search').change(function () {
            patient_name = $('.search').val();

            fetchData();
        });
        $('.role').click(function () {
            typeid = $(this).attr("data-id");

            fetchData();
        });

        function fetchData() {

            $.ajax({
                url: "/Provider/providerTableData",
                method: "POST",
                data: { "type": type,  "patient_name": patient_name, "typeid": typeid, 'pagesize': 3, 'pagenumber': pagenumber },

                success: function (data) {
                    $('#tableContainer').html(data);
                },
                error: function () {

                }
            });


            switch (type) {
                case "1":
                    requestState = "(New)";

                    break;
                case "2":
                    requestState = "(Pending)";
                    break;
                case "3":
                    requestState = "(Active)";
                    break;
                case "4":
                    requestState = "(Conclude)";
                    break;
                default:
                    requestState = "";
                    break;
            }
            $('#requestState').text(requestState);


        }

        $.ajax({
            url: "/Provider/getCountNumber",
            method: "GET",

            success: function (data) {
                $('#count_new').html(data[0]);
                $('#count_pending').html(data[1]);
                $('#count_active').html(data[2]);
                $('#count_conclude').html(data[3]);

            },
            error: function () {

            }
        });

    });
</script>


@if (ViewBag.LoginSuccess != null && ViewBag.LoginSuccess ||
    ViewBag.CancelNote != null && ViewBag.CancelNote ||
    TempData["CancelNote"] != null && (bool)TempData["CancelNote"] == true ||
    TempData["AssignNote"] != null && (bool)TempData["AssignNote"] == true ||
    TempData["BlockNote"] != null && (bool)TempData["BlockNote"] == true ||
    TempData["ClearCase"] != null && (bool)TempData["ClearCase"] == true)
{
    string message = "";


    @if (ViewBag.LoginSuccess != null && ViewBag.LoginSuccess)
    {
        message = "Admin logged in successfully!";
    }
    else if (ViewBag.CancelNote != null && ViewBag.CancelNote)
    {
        message = "Request Cancelled successfully!";
    }
    else if (TempData["CancelNote"] != null && (bool)TempData["CancelNote"] == true)
    {
        message = "Request Cancelled successfully!";
    }
    else if (TempData["AssignNote"] != null && (bool)TempData["AssignNote"] == true)
    {
        message = "Request Assigned successfully!";
    }
    else if (TempData["BlockNote"] != null && (bool)TempData["BlockNote"] == true)
    {
        message = "Request Blocked successfully!";
    }
    else if (TempData["ClearCase"] != null && (bool)TempData["ClearCase"] == true)
    {
        message = "Request Cleared successfully!";
    }


    <script>
        $(document).ready(function () {


            var toastHTML = '<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="2000" style="position: fixed; top: 10px; right: 10px; z-index: 1000;">' +

                '<div class="toast-body bg-success text-white">' + '@message' + '</div>' +
                '</div>';


            $('#toast-container').append(toastHTML);

            $('.toast').toast('show');
        });
    </script>
}

